@model Notification

<div class="container p-3">
    <div class="row pt-4">
        <div style="height: 300px;">
            <div>
                <h2 class="text-primary">@Model.Course.Name - @Model.Title</h2>
            </div>
            <div style="height: 500px;" class="mt-4">
                @Model.Description
            </div>
            <div class="d-flex justify-content-between">
                <span>@Model.User.FirstName</span>
                <span>@Model.PublishedDate</span>
            </div>
        </div>
    </div>
</div>